[submodule "external/src/traffic-editor"]
	path = external/src/traffic-editor
	url = git@github.com:osrf/traffic-editor.git
[submodule "ros2/src/rmf_map_to_graph"]
	path = ros2/src/rmf_map_to_graph
	url = git@github.com:cnboonhan94/rmf_map_to_graph.git
[submodule "ros2/src/rmf_core"]
	path = ros2/src/rmf_core
	url = git@github.com:osrf/rmf_core.git
[submodule "ros1/src/mir_minimal_example/mir_robot"]
	path = ros1/src/mir_minimal_example/mir_robot
	url = git@github.com:dfki-ric/mir_robot.git
[submodule "external/soss-bridging/ros2/soss"]
	path = external/soss-bridging/ros2/soss
	url = git@github.com:osrf/soss.git
[submodule "external/soss-bridging/ros1/soss-ros1"]
	path = external/soss-bridging/ros1/soss-ros1
	url = git@github.com:osrf/soss-ros1.git
